<form name='form1'action="controllerForm" method="pos">
    <input type="text" name="id" id="id" placeholder="id:"> </br>
    <input type="text" name="name" id="name" placeholder="Name"> </br>
    <input type="text" name="age" id="age" placeholder="age"> </br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Add"> </br>
</form>